@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  width: 100%;
}
.header .nav {
  width: 80%;
  height: 80px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__options {
  display: flex;
  list-style: none;
  text-decoration: none;
  position: relative;
}
@media (max-width: 920px) {
  .header .nav__options {
    display: none;
  }
}
.header .nav__options .nav__link {
  position: relative;
  text-align: center;
}
.header .nav__options .nav__link a {
  text-decoration: none;
  color: #0b132a;
  font-weight: 400;
  font-size: 1.8rem;
  margin-right: 20px;
  padding: 0 10px 10px 10px;
}
.header .nav__options .nav__link .active {
  color: #f43754;
  border-bottom: 3px solid #f43754;
}
.header .nav__options .nav__link .line {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 90%;
  height: 3px;
  background-color: #f43754;
  transform: translateY(1%) scaleX(0);
  transform-origin: center;
  transition: transform 0.6s;
}
.header .nav__options .nav__link a:hover ~ .line {
  color: #f43754;
  transform: translateY(1%) scaleX(1);
  transform-origin: center;
  transition: transform 0.6s;
}
.header .nav__options .nav__link a:hover {
  color: #f43754;
}
.header .nav__session {
  display: flex;
  gap: 10px;
}
.header .nav__session .cta {
  border-radius: 30px;
  padding: 10px 30px;
  border: 1px solid #fff;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}
.header .nav__session .cta:hover {
  color: #f43754;
}
.header .nav__session .cta--up {
  border: 1px solid #f43754;
  outline: none;
  color: #f43754;
}
.header .nav__session .cta--up:hover {
  background-color: #f43754;
  color: #fff;
  box-shadow: 0px 20px 20px -15px rgba(245, 56, 56, 0.81);
}
.header .hero {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@media (max-width: 920px) {
  .header .hero {
    flex-direction: column-reverse;
  }
}
.header .hero__figure img {
  width: 100%;
}
.header .hero__content .content__title {
  font-size: 5rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.header .hero__content .content__info {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 20px;
}
.header .hero__content .started {
  background-color: #f43754;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  padding: 20px 60px;
  border-radius: 10px;
  cursor: pointer;
}
.header .hero__content .started:hover {
  background-color: #f43754;
  color: #fff;
  box-shadow: 0px 20px 20px -15px rgba(245, 56, 56, 0.81);
}

.content {
  width: 80%;
  margin: 0 auto;
}
.content .rounded {
  display: flex;
  justify-content: space-evenly;
  margin: 8rem 0;
  height: 100px;
  align-items: center;
  box-shadow: 0px 2px 22px 10px #e0e0e0;
  border-radius: 10px;
}
@media (max-width: 720px) {
  .content .rounded {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.content .rounded__div {
  width: 2px;
  height: 80px;
  background-color: #e0e0e0;
}
@media (max-width: 920px) {
  .content .rounded__div {
    display: none;
  }
}
.content .rounded__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, max-content);
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.content .rounded__card .card__img {
  grid-column: 1;
  grid-row: 1/span 2;
  background-color: #ffecec;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .rounded__card .card__number {
  grid-column: 2;
  grid-row: 1;
  font-size: 2.4rem;
  font-weight: 700;
}
.content .rounded__card .card__category {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.8rem;
  color: #4f5665;
}
.content .features {
  margin: 3rem 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 920px) {
  .content .features {
    flex-direction: column;
  }
}
.content .features__img {
  max-width: 510px;
}
.content .features__img .features {
  width: 100%;
}
.content .features__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 420px;
}
.content .features__info .info__title {
  font-size: 4rem;
}
.content .features__info .info__description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #626874;
}
.content .features__info .info__options {
  list-style: none;
}
.content .features__info .info__options .info__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
  color: #626874;
  cursor: pointer;
}
.content .features__info .info__options .info__item:hover {
  transform: scale(1.1);
  transition: ease 0.4s;
  font-weight: 700;
  color: #2fab73;
}
.content .location {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}
.content .location__title {
  font-size: 4rem;
}
.content .location__info {
  width: 500px;
  font-size: 1.6rem;
  color: #626874;
  line-height: 2.8rem;
}
.content .location__map .map {
  width: 100%;
  filter: blur(1px);
}
.content .factories {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.content .comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding-top: 5rem;
}
.content .comment__title {
  font-size: 4rem;
}
.content .comment__info {
  color: #626874;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.content .comment .swiper {
  width: 90%;
  position: relative;
  margin-bottom: 50px;
}
.content .comment .card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  margin: 20px 40px;
  border: 2px solid #c4c8d2;
  cursor: pointer;
  min-width: 350px;
}
.content .comment .card:hover {
  border: 2px solid #f43754;
}
.content .comment .card .card-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
  z-index: 100;
}
.content .comment .card .card-content .info__profile {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .comment .card .card-content .info__profile .profile__name .name {
  font-size: 1.8rem;
  color: rgb(11, 19, 42);
}
.content .comment .card .card-content .info__profile .profile__name .location {
  font-size: 1.4rem;
  color: rgb(79, 86, 101);
  margin: 0;
}
.content .comment .card .card-content .info__profile .profile__score {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .comment .card .card-content .info__profile .profile__score .score {
  color: rgb(79, 86, 101);
  font-size: 1.4rem;
}
.content .comment .card .card-content .info__comment .comment__user {
  margin: 2rem 0 0;
  color: rgb(79, 86, 101);
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: left;
}
.content .button__slider {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.content .button__slider .slider__button {
  height: 100%;
  position: relative;
}
.content .button__slider .swiper-pagination {
  position: relative;
  left: 0;
}
.content .button__slider .swiper-button-prev:after, .content .button__slider .swiper-rtl .swiper-button-next:after,
.content .button__slider .swiper-button-next::after, .content .button__slider .swiper-rtl .swiper-button-prev::after {
  content: "";
}
.content .button__slider .swiper-button-next img {
  width: 30px;
}
.content .button__slider .swiper-button-prev img {
  width: 30px;
}
.content .button__slider .swiper-horizontal > .swiper-pagination-bullets, .content .button__slider .swiper-pagination-bullets.swiper-pagination-horizontal, .content .button__slider .swiper-pagination-custom, .content .button__slider .swiper-pagination-fraction {
  bottom: 0;
  width: 200px;
  display: flex;
}
.content .button__slider .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 25px;
  background-color: #ddd;
  opacity: 1;
}
.content .button__slider .swiper-pagination-bullet-active {
  background: #f43754;
  width: 48px;
  height: 16px;
  border-radius: 25px;
}
.content .button__slider .swiper-button-next, .content .button__slider .swiper-button-prev {
  opacity: 0.7;
  color: #FF676D;
  transition: all 0.3s ease;
  border: 2px solid #f43754;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  top: var(--swiper-navigation-top-offset, 38%);
}
.content .button__slider .swiper-button-next:hover, .content .button__slider .swiper-button-prev:hover {
  opacity: 1;
  color: #f43754;
  background-color: #fff;
  transform: scale(1.1);
  transition: all 0.3s;
}
.content .subscribe {
  background-color: #fff;
  position: relative;
  bottom: -100px;
  padding: 5rem 5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;
}
.content .subscribe .subscribe__info .info__get {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.content .subscribe .subscribe__info .info__find {
  font-size: 1.8rem;
  color: #626874;
}
.content .subscribe .started {
  background-color: #f43754;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  padding: 20px 60px;
  border-radius: 10px;
  cursor: pointer;
}
.content .subscribe .started:hover {
  background-color: #f43754;
  color: #fff;
  box-shadow: 0px 20px 20px -15px rgba(245, 56, 56, 0.81);
}

.footer {
  background: linear-gradient(180deg, rgb(237, 237, 240) 50%, rgb(255, 255, 255) 100%);
  display: flex;
  justify-content: space-between;
  height: 460px;
  padding: 120px 140px 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 350px;
}
.footer__info .logo {
  max-width: 149px;
}
.footer__info .info__lasles {
  color: #626874;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.footer__info .info__social {
  display: flex;
  gap: 20px;
}
.footer__info .info__social .social__icon {
  padding: 8px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 3px 3px 2px #d1d1d7;
  cursor: pointer;
}
.footer__info .info__social .social__icon:hover {
  box-shadow: 0px 3px 3px 2px #FF676D;
}
.footer__info .info__copy {
  color: #9a9fa8;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer__options {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.footer__options .options__f {
  margin: 0 2rem;
}
.footer__options .options__f .f__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.footer__options .options__f .options__list {
  list-style: none;
  color: #626874;
  font-size: 1.6rem;
}
.footer__options .options__f .options__list .list__item {
  padding-bottom: 1.5rem;
  cursor: pointer;
}
.footer__options .options__f .options__list .list__item:hover {
  color: #f43754;
}

/*# sourceMappingURL=style.css.map */
